services:

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant-db
    volumes:
      - .qdrant:/qdrant_db
    ports:
      - "6333:6333"
      - "6334:6334"
    environment:
      - QDRANT_SERVER_HOST=0.0.0.0
      - QDRANT_SERVER_PORT=6333
      - QDRANT_DB_NAME=qdrant_db
    networks:
      - app-network
    restart: unless-stopped

  zenml-server:
    image: zenmldocker/zenml-server:latest
    platform: linux/amd64  # Use amd64 with emulation
    container_name: zenml-server
    ports:
      - "8080:8080"  # Default ZenML server port
    networks:
      - app-network
    environment:
      - ZENML_STORE_URI=sqlite:////app/zenml.db
      - ZENML_DEFAULT_USER_NAME=default
      - ZENML_DEFAULT_USER_PASSWORD=zenml
      - ZENML_ANALYTICS_OPT_IN=false
      - ZENML_SERVER_HOST=0.0.0.0
      - ZENML_SERVER_PORT=8080
      - ZENML_LOGGING_VERBOSITY=INFO
    volumes:
      - zenml_store:/app
    restart: unless-stopped
    depends_on:
      - qdrant

networks:
  app-network:
    driver: bridge

volumes:
  zenml_store:
    driver: local
  .qdrant:
    driver: local
